
body, html {
  height: 100%;
}
.name{
  font-size: 200px;
  text-align: center;
}
.content{
  font-size: 15px;
}
#tablee {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 100px;
}

#tablee td, #tablee th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tablee tr:nth-child(even){background-color: #f2f2f2;}

#tablee tr:hover {background-color: #ddd;}

#tablee th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5d85c6;
  color: white;
}
.parallax {
  /* The image used */
  background-image: url('ear.jpg');

  height: 100%; 


  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
